.App {
  display: grid;
  
  grid-template-columns: 12vw 1fr;
  grid-template-rows: 1fr 12vh;
  grid-template-areas: "search messages"
  "search  send-message";
  
  height: 100vh;
}

.search {
  grid-area: search;
  background-color: purple;
}

.search ul {
  list-style: none;
  padding: 0;
}

.search li {
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.search li:hover {
  cursor: pointer;
  background-color: #fab3;
}

.search li img {
  height: 100%;
  width: auto;
}

.messages {
  grid-area: messages;
  background-color: #4f88;
}

.send-message {
  grid-area: send-message;
  background-color: #faba;
}
